/* Profil */
.banner-card img {
    min-height: 100vh;
    position: center;
    max-width: 100%;
    height: auto;
    object-fit: cover;

}

.profil-banner .banner-text{
    position: absolute;
    top: 0;
    color: #680404;
    padding: 10px;
    text-align: center;
}
.visi-misi ol
{
    padding: 20px;
    line-height: 1.5;
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
}
/* Akhir Profil */


/* Awal Kontak */
.container-kontak {
    padding: 20px;
    color: #2E2D2D;
    margin-left: 8%;
}


.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    margin-left: 8%;
    margin-right: 3%;
}

.contact-item {
    display: flex;
    align-items: flex-start;
    width: 45%;
    margin-bottom: 20px;
}

.icon {
    margin-right: 30px;
    margin-top: 10px;
    color: #2E2D2D;
}

.contact-info {
    flex: 1;
}

.contact-info h2 {
    margin: 0;
    font-size: 18px;
    color: #333333;

}

.contact-info p {
    margin: 5px 0 0;
    color: #666666;
}
.contact-container img{
    background-color: #2C9760;
    display: flex;
    border-radius: 10%;
    width: 50px;
    height: 50px;
    padding: 0 auto;
}

.maps-container iframe {
    display: flex;
    margin-left: 10%;

}


/* Produk */

.card-produk img{
    display: flex;
    width: 20%;
    padding: 20px;
    margin-left: 15%;
    margin-top: 5%;
}

.container-produk hr{
    text-align: center;
    width: 15%;
    height: 5px;
    background-color: #2C9760;
    opacity: 100%;
    margin: 0 auto;
}

.container-produk h2{
    text-align: center;
    font-size: 22px;

}

.card-produk p{
    background-color: #2C9760;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    text-align: center;
    color: #ffff;
    padding: 10px;
    margin-left: 16%;
}


/* nyoba */


