/* Profil */
.banner-card img {
    min-height: 100vh;
    position: center;
    max-width: 100%;
    height: auto;
    object-fit: cover;

}

.banner-text{
    position: absolute;
    top: 0;
    color: #680404;
    padding: 10px;
    text-align: center;
}

.banner {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
}
