.header{
    color: black;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.banner-content{
    position: relative;
    text-align: center;
    padding: 50px 0;
}
.banner-content .img{
    margin-top: -10px;
    height: 300px;
    display: block;
    object-fit: cover;
}
.banner-content .banner-text{
    background-color: blue;
}

